* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

.menu a:hover {
  background-color: gray ;
  border-radius: 5px;
}

.menu a:active {
  background-color: rgb(225, 45, 45);
  border-radius: 5px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: justify;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
  box-shadow: black;
}

.conteudo-lado {
  margin: 20px;
  width: 40%;
}

.conteudo {
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: auto;
  width: 100%;  
  margin: 10px;
}

.conteudo-lista {
  margin-left: 60px;

}

.conteudo-lista ul {
  margin-left: 20px; 
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.h1-1 {
  flex: 1;
  text-align: center;
  justify-content: flex-end;
  color: white;
}

.h1-2 {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  margin-top: 20px;
}
.h1-3{
  font-family: "Bebas Neue", sans-serif;
  color: whitesmoke;
  margin-top: 20px;
}

.icon {
  border-radius: 10px;
}

.redirect {
  text-decoration: none;
  color: white;
}

.redirect:hover {
  text-shadow: red -3px 0, gray 3px 0;
  transition: 0.5s;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.conteiner-2 {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #003366; 
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 20px;
  background-color: lightgray; 
  border-radius: 10px; 
  box-shadow: black;
}

.formulario .conteudo-lado {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formulario .nome-sobrenome {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.formulario .check {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.formulario input, .formulario select, .formulario textarea{
  width: 100%;
  margin-bottom: 10px;
}

.formulario button {
  padding: 10px 20px;
  border: none;
  background-color: darkgreen;
  color: wheat;
  font-size: 16px;
  border-radius: 5px;
  width: 20%; 
  margin-top: 20px;
}

.formulario button:hover {
  background-color: #003366;
  transition: 0.3s;
}

.coment {
  margin-top: 75px;
}

textarea {
  height: 100px;
}


footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

footer li {
  margin: 0 20px;
}

footer a {

  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

footer a:hover {
  background-color: gray;
  border-radius: 5px;
}

footer a:active {
  background-color: rgb(225, 45, 45);
  border-radius: 5px;
}
