* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}
.menu a:hover {
  background-color: gray ;
  border-radius: 5px;
}

.menu a:active {
  background-color: rgb(225, 45, 45);
  border-radius: 5px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: justify;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.conteudo-lado {
  margin: 20px;
  width: 40%;
}

.conteudo {
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: auto;
  width: 100%;  
  margin: 10px;
}
.conteudo-lista {
  margin-left: 60px;

}

.conteudo-lista ul {
  margin-left: 20px; 
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h1-1 {
  flex: 1;
  text-align: center;
  justify-content: flex-end;

  color: white;
}
.h1-2 {
  font-family: "Bebas Neue", sans-serif;
}

.icon {
  border-radius: 10px;
}

.redirect {
  text-decoration: none;
  color: white;
}

.redirect:hover {
  color: red;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  font-size: large;
}



footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

footer li {
  margin: 0 20px;
}

footer a {

  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

footer a:hover {
  background-color: gray;
  border-radius: 5px;
}

footer a:active {
  background-color: rgb(225, 45, 45);
  border-radius: 5px;
}
